public/xsd/scorm12/imsmd_rootv1p2p1.xsd


<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by ADLNET (ADLNET) -->
<!--Generated by XML Authority-->
<xsd:schema targetNamespace="http://www.imsglobal.org/xsd/imsmd_rootv1p2p1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.imsglobal.org/xsd/imsmd_rootv1p2p1" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="unqualified" version="IMS MD 1.2.1">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="ims_xml.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
            IMS Learning Resource Meta-data XML Binding Version 1.2.1
            
            Copyright (c) 2001 IMS Global Learning Consortium
            
            Revision Information - IMS LRM to IEEE LOM changeover binding.
        </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="lom">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="general" minOccurs="0"/>
				<xsd:element ref="lifecycle" minOccurs="0"/>
				<xsd:element ref="metametadata" minOccurs="0"/>
				<xsd:element ref="technical" minOccurs="0"/>
				<xsd:element ref="educational" minOccurs="0"/>
				<xsd:element ref="rights" minOccurs="0"/>
				<xsd:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="classification" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="general">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="title" minOccurs="0"/>
				<xsd:element ref="catalogentry" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="language" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="coverage" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="structure" minOccurs="0"/>
				<xsd:element ref="aggregationlevel" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="identifier">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="catalog"/>
				<xsd:element ref="entry"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="catalog">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="entry">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="ag.context"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="title" type="LangstringType"/>
	<xsd:element name="catalogentry">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="catalog"/>
				<xsd:element ref="entry"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="language">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="description" type="LangstringType"/>
	<xsd:element name="keyword" type="LangstringType"/>
	<xsd:element name="coverage" type="LangstringType"/>
	<xsd:element name="structure">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="source" type="LangstringType"/>
	<xsd:element name="value" type="LangstringType"/>
	<xsd:element name="aggregationlevel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lifecycle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="version" minOccurs="0"/>
				<xsd:element ref="status" minOccurs="0"/>
				<xsd:element ref="contribute" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="version" type="LangstringType"/>
	<xsd:element name="status">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="contribute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="role"/>
				<xsd:element ref="centity" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="date" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="role">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="centity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="vcard"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="vcard">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="date">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="datetime" minOccurs="0"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="datetime">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="ag.context"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="metametadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="catalogentry" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="contribute" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="metadatascheme" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="language" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="metadatascheme">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="technical">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="format" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="size" minOccurs="0"/>
				<xsd:element ref="location" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="requirement" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="installationremarks" minOccurs="0"/>
				<xsd:element ref="otherplatformrequirements" minOccurs="0"/>
				<xsd:element ref="duration" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="format">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="size">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="location">
		<xsd:complexType mixed="true">
			<xsd:attribute name="type" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="requirement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="type"/>
				<xsd:element ref="name"/>
				<xsd:element ref="minimumversion" minOccurs="0"/>
				<xsd:element ref="maximumversion" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="type">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="name">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="minimumversion">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="maximumversion">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="installationremarks" type="LangstringType"/>
	<xsd:element name="otherplatformrequirements" type="LangstringType"/>
	<xsd:element name="duration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="datetime" minOccurs="0"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="educational">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="interactivitytype" minOccurs="0"/>
				<xsd:element ref="learningresourcetype" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="interactivitylevel" minOccurs="0"/>
				<xsd:element ref="semanticdensity" minOccurs="0"/>
				<xsd:element ref="intendedenduserrole" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="context" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="typicalagerange" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="difficulty" minOccurs="0"/>
				<xsd:element ref="typicallearningtime" minOccurs="0"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:element ref="language" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="interactivitytype">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="learningresourcetype">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="interactivitylevel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="semanticdensity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="intendedenduserrole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="context">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="typicalagerange" type="LangstringType"/>
	<xsd:element name="difficulty">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="typicallearningtime">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="datetime" minOccurs="0"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="rights">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cost" minOccurs="0"/>
				<xsd:element ref="copyrightandotherrestrictions" minOccurs="0"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="cost">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="copyrightandotherrestrictions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="relation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="kind" minOccurs="0"/>
				<xsd:element ref="resource" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="kind">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="resource">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="annotation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="person" minOccurs="0"/>
				<xsd:element ref="date" minOccurs="0"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="person">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:element name="classification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="purpose" minOccurs="0"/>
				<xsd:element ref="taxonpath" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="purpose">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source"/>
				<xsd:element ref="value"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="taxonpath">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source" minOccurs="0"/>
				<xsd:element ref="taxon" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="taxon">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="id" minOccurs="0"/>
				<xsd:element ref="entry" minOccurs="0"/>
				<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="id">
		<xsd:complexType mixed="true"/>
	</xsd:element>
	<xsd:complexType name="LangstringType">
		<xsd:sequence>
			<xsd:element name="langstring" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType mixed="true">
					<xsd:attributeGroup ref="ag.context"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:group ref="grp.any" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="grp.any">
		<xsd:choice>
			<xsd:any namespace="##other" processContents="strict"/>
		</xsd:choice>
	</xsd:group>
	<xsd:attributeGroup name="ag.context">
		<xsd:attribute ref="xml:lang"/>
	</xsd:attributeGroup>
</xsd:schema>
